<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To Do List</title>
    <!--LINK CSS-->
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app">
        <h1>La mia lista</h1>
        <h2>N*{{todo.length}} cose da fare</h2>
        <div>
            <h5>
                aggiungi alla lista qualcosa.
            </h5>
            <input  @keyup.enter="addTodo()" v-model="newTodo" type="text">
            <button @click="addTodo()">
                aggiungi
            </button>
        </div>
        <ul>
            <li  v-for="(item, index) in todo" :class="{ done: item.done}">
                {{ item.text}}
                <button @click="removeTodo()"> 
                    X
                </button>
            </li>
        </ul>

    </div>
    <!--LINK DI VUE-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!--LINK MY JS-->
    <script src="./js/scripts.js"></script>
</body>
</html>